<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="黄一凡 HuangYifan AllenYolk" />
		<meta name="application-name" content="simple-video-website" />
		<meta
			name="description"
			content="A simple application simulating a video website."
		/>

		<title>Simple Video Website Simulator - HomePage</title>
		<link
			rel="icon"
			href="{{ url_for('static', filename='images/poppop.jpeg')}}"
		/>
		<link rel="stylesheet" href="{{ url_for('static',
		filename='styles/main.css')}}"" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Quantico&family=Righteous&family=ZCOOL+KuaiLe&display=swap"
			rel="stylesheet"
		/>

		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script
			src="{{ url_for('static', filename='scripts/index.js') }}"
			defer
		></script>
	</head>

	<body>
		<header id="homepage-header">
			<div id="header-text-wrapper">
				<p id="header-text">Simple Video Website Simulator</p>
			</div>
		</header>

		<nav id="top-nav">
			<p id="top-nav-text">
				<strong>
					| &nbsp;&nbsp;
					<a href="./index.html" class="nav-link">主页</a> &nbsp;&nbsp; |
					&nbsp;&nbsp;
					<a href="./video.html" class="nav-link">视频</a> &nbsp;&nbsp; |
					&nbsp;&nbsp;
					<a href="./user.html" class="nav-link">用户</a> &nbsp;&nbsp; |
					&nbsp;&nbsp;
					<a href="./routing.html" class="nav-link">速通</a> &nbsp;&nbsp; |
				</strong>
			</p>
		</nav>

		<main>
			<h1 id="page-title">HomePage</h1>
			<form>
				<div>
					<p class="form-notice">按照视频热度排序</p>
				</div>
				<div>
					<label for="section-select">视频分区：</label>
					<select id="section-select" name="sec">
						<option value="全站">全站</option>
						<option value="动画">动画</option>
						<option value="音乐">音乐</option>
						<option value="舞蹈">舞蹈</option>
						<option value="游戏">游戏</option>
						<option value="知识">知识</option>
						<option value="科技">科技</option>
						<option value="运动">运动</option>
						<option value="生活">生活</option>
						<option value="美食">美食</option>
						<option value="动物">动物</option>
						<option value="鬼畜">鬼畜</option>
						<option value="时尚">时尚</option>
						<option value="娱乐">娱乐</option>
						<option value="影视">影视</option>
						<option value="资讯">资讯</option>
					</select>
				</div>
				<div class="button">
					<button type="button">确认</button>
				</div>
			</form>

			<h2 class="section-title">视频列表</h2>
			<div class="video-list">
				<div class="homepage-video"></div>
			</div>
		</main>

		<footer>
			<p>数据库概论（实验班）期中作业</p>
			<p>所有视频均通过原视频的分享链接嵌入</p>
			<p>视频的播放量等信息纯属捏造，切勿当真！</p>
			<p>本项目不作任何商业用途！</p>
		</footer>
	</body>
</html>
